.block_ {
    display: block;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_1 {
    display: block;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    display: block;
    margin-bottom: 7.5pt;
    margin-left: 72pt;
    margin-right: 0;
    margin-top: 15pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: -72pt
    }
.block_3 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 14pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_4 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 72pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_5 {
    display: list-item;
    margin-bottom: 14pt;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_6 {
    display: list-item;
    margin-bottom: 14pt;
    margin-left: 36pt;
    margin-top: 14pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_7 {
    display: block;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_8 {
    display: table-row;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 14pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_9 {
    display: table-row;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_10 {
    display: table-row;
    margin-bottom: 14pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_11 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_12 {
    background-color: #FFF;
    color: #000;
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_13 {
    background-color: #FFF;
    border-bottom-style: none;
    display: block;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_14 {
    background-color: #FFF;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_15 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.bullet_ {
    display: table-cell;
    font-size: 0.75em;
    font-weight: bold
    }
.calibre {
    color: #333;
    display: block;
    font-family: "Helvetica Neue", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 36pt;
    padding-right: 0;
    padding-top: 0
    }
.calibre2 {
    display: table-cell
    }
.calibre3 {
    text-decoration: none
    }
.list_ {
    display: block;
    list-style-type: lower-alpha;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_1 {
    display: block;
    list-style-type: lower-roman;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    color: #000
    }
.text_1 {
    color: #0070C0;
    text-decoration: underline
    }
.text_2 {
    color: #0070C0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

